body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  background-color: rgb(18, 18, 18);
}

/* App */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div,
button {
  margin: 10px;
}

/*  */

.card-wrapper {
  background-color: rgb(39, 39, 39);
  padding: 1rem;
}

.card-wrapper-2 {
  background-color: none;
  padding: 1rem;
}

.playlists {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.topArtists {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-around;
}

.logo {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: black;
  justify-content: center;
  padding: 1rem;
}

.button {
  padding: 0.5rem;
  border-radius: 50px;
  background-color: rgb(29, 185, 84);
  border: solid 1px rgb(29, 185, 84);
  color: white;
  font-size: small;
  font-weight: bold;
  text-decoration: none;
}

.playlist-img {
  height: 250px;
}

.scroll {
  overflow: scroll;
  height: 1000px;
}

.song-image {
  height: 75px;
  margin-right: 2rem;
}

.top-five {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(39, 39, 39);
  padding: 1rem;
  height: 30px;
  width: 600px;
}

.artist-topsong {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
  margin: 1rem;
  padding: 1rem;
}

.song-overflow {
  overflow: scroll;
  height: 360px;
}

.related-artists-wrapper {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
}

.related-artists-wrapper > li {
  width: 30%;
  padding: 2rem;
}

img {
  height: 50px;
  margin-right: 0.5rem;
}
