body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: white;
  font-weight: bold;
  background-color: rgb(18, 18, 18);
}

/* App */
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

div,
button {
  margin: 10px;
}

/*  */

.card-wrapper {
  background-color: rgb(39, 39, 39);
  border: solid 1px rgb(29, 185, 84);
}

.playlists {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}

.logo {
  height: 40px;
}

.navbar {
  display: flex;
  align-items: center;
  height: 40px;
  background-color: rgb(39, 39, 39);
  justify-content: center;
  padding: 1rem;
}

.button {
  padding: 0.5rem;
  border-radius: 50px;
  background-color: rgb(29, 185, 84);
  border: solid 1px rgb(29, 185, 84);
  color: white;
  font-size: small;
  font-weight: bold;
}
